@model Attack_And_Defend.Logic.CombatHandler;
@using System.Linq;
@{
    ViewData["Title"] = "Combat";
    Character playerActiveCharacter = Model.PlayerParty.GetRotatedInCharacter();
    Character cpuActiveCharacter = Model.CpuParty.GetRotatedInCharacter();
}





<div class="informationBlock hasNavBar">
    <h2>Combat</h2>
    <p>Turn: @Model.TurnNumber</p>
    <div class="row">
        <div class="col-md-6">
            @foreach (Character character in Model.PlayerParty.Characters.Where(c=>!c.Fainted))
            {
                <div class="col-md-1">
                    <img style="width: 100%;" src="~/images/stickman.png" />
                </div>
            }
        </div>
        <div class="col-md-6">
            <div class="col-md"></div>
            @foreach (Character character in Model.CpuParty.Characters.Where(c => !c.Fainted))
            {
                <div class="col-md-1">
                    <img style="width: 100%;" src="~/images/stickman.png" />
                </div>
            }
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-6"> 
            <div style="margin-left: 10px;">
                <p>Name: @playerActiveCharacter.Name</p>
                <p>Health: @playerActiveCharacter.RemainingHealth/@playerActiveCharacter.MaximumHealth</p>
                <p>Class: @playerActiveCharacter.JobNumber.ToString()</p>
            </div>
        </div>
        <div class="col-md-6">
            <div style="margin-left: 10px;">
                <p>Name: @cpuActiveCharacter.Name</p>
                <p>Health: @cpuActiveCharacter.RemainingHealth/@cpuActiveCharacter.MaximumHealth</p>
                <p>Class: @cpuActiveCharacter.JobNumber.ToString()</p>
            </div>
        </div>
    </div>

    <div id="logBox" class="lightPurpleBackground" style="height:280px; overflow-y: scroll;">
        @foreach(string message in Model.MessageLog)
        {
            @message<br/>
        }
    </div>
    <br />
    <div class="row">
        <div class="col-md-6 text-center">
            <form asp-controller="Combat" asp-action="PlayerDecision" asp-route-action="@CharacterAction.Attack">
                <button type="submit" class="combatButton">Attack</button>
            </form>
        </div>
        <div class="col-md-6 text-center">
            <button class="combatButton">Skill</button>
        </div>
    </div>
</div>

<script>
    var messageBody = document.querySelector('#logBox');
    messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
</script>