@model Attack_And_Defend.Logic.CombatHandler;
@using System.Linq;
@{
    ViewData["Title"] = "Combat";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
    $.ready(function (

    ));
</script>

<div class="informationBlock hasNavBar">
    <h2>Combat</h2>
    <div class="row">
        <div class="col-md-6">
            @foreach (Character character in Model.PlayerParty.Characters.Where(c=>!c.Fainted))
            {
                <div class="col-md-1">
                    <img style="width: 100%;" src="~/images/stickman.png" />
                </div>
            }
        </div>
        <div class="col-md-6">
            <div class="col-md"></div>
            @foreach (Character character in Model.CpuParty.Characters.Where(c => !c.Fainted))
            {
                <div class="col-md-1">
                    <img style="width: 100%;" src="~/images/stickman.png" />
                </div>
            }
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-6"> 
            <div style="margin-left: 10px;">
                <p>@Model.PlayerParty.ActiveCharacter.Name</p>
                <p>@Model.PlayerParty.ActiveCharacter.RemainingHealth/@Model.PlayerParty.ActiveCharacter.MaximumHealth</p>
            </div>
        </div>
        <div class="col-md-6">
            <div style="margin-left: 10px;">
                <p>@Model.CpuParty.ActiveCharacter.Name</p>
                <p>Health: @Model.CpuParty.ActiveCharacter.RemainingHealth/@Model.CpuParty.ActiveCharacter.MaximumHealth</p>
            </div>
        </div>
    </div>

    <div id="logBox" class="lightPurpleBackground" style="height:60px;" overflow:auto;">
    </div>
    <br />
    <div class="row">
        <div class="col-md-6 text-center">
            <form asp-controller="Combat" asp-action="PlayerDecision" asp-route-action="@CharacterAction.Attack">
                <button type="submit" class="combatButton">Attack</button>
            </form>
        </div>
        <div class="col-md-6 text-center">
            <button class="combatButton">Skill</button>
        </div>
    </div>
</div>
