@model PartyOverviewViewModel
@{
    var model = Model;
    int partiesDisplayed = 0;
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
    });

    function ChangePartyIndexLeadCharacter(index, partyId) {
        $.post('ChangeLeadCharacter', { indexNewLeadCharacter: index, partyId: partyId })
            .done(function (data) {
                if (data.success == true) {
                    location.reload();
                }
            })
    }

    function ChangeIndexActiveParty(index) {
        $.post('ChangeActiveParty', { partyIndex: index })
            .done(function (data) {
                if (data.success == true)
                    location.reload();
            })
        }

</script>

<div class="informationBlock hasNavBar">
    <div class="container">
        <br />
        <form asp-action="AddParty" asp-controller="Party">
            <input name="partyName" type="text" />
            <input type="submit" value="Add party" />
        </form>
        @if (Model.PartyList.Count() == 0)
        {
            <br />
            <div>You don't have any parties.</div>
        }
        @for (int partyCounter = 0; partyCounter < Model.PartyList.Count(); partyCounter++)
        {
            Party party = Model.PartyList.ElementAt(partyCounter);
            int partyNumber = partiesDisplayed + 1;
            bool activeParty = Model.IndexSelectedParty == partyCounter;
            if (activeParty)
            {
                <h1>#@partyNumber @party.Name</h1>
            }
            else
            {
                <div class="row">
                    <div class="col-md-7">
                        <h1>#@partyNumber @party.Name </h1>
                    </div>
                    <div class="col-md-5">
                    </div>
                </div>
            }

            <div class="row">

                @for (int x = 0; x < 5; x++)
                {
                    if (x < party.Characters.Count())
                    {
                        Character character = party.Characters[x];
                        <div class="col-md-2">
                            <b>Name: @character.Name</b>
                            <br />Class: @character.JobNumber.ToString()
                            <br />Health: @character.Health
                            <br />Attack: @character.Attack
                            <br />Physical Defense: @character.PhysicalDefense
                            <br />Magic Defense: @character.MagicDefense

                            <div class="row">
                                <div class="col-md-4">
                                    @if (party.IndexLeadCharacter == x)
                                    {
                                        <img style="width: 100%;" src="~/images/star.png" />
                                    }
                                    else
                                    {
                                        string id = "clickableStar" + Model.PartyList.IndexOf(party);
                                        int indexToChangeTo = x;
                                        int partyId = party.Id;
                                        string functionCall = "ChangePartyIndexLeadCharacter(" + indexToChangeTo + "," + partyId + ")";
                                        <img id="@id" onclick="@functionCall" style="width: 100%;" src="~/images/greystar.png" />
                                    }
                                </div>
                                <div class="col-md"></div>
                            </div>
                        </div>
                    }

                    else
                    {
                        <div class="col-md-2">
                            <b>Empty</b>
                            <br />
                            @if (party.Characters.Count() < 5)
                            {
                                <a asp-controller="Party" asp-action="AddCharacter" asp-route-partyIdToAddTo="@party.Id">Add new character to @party.Name</a>
                            }
                        </div>
                    }
                }

                <div class="col-md-2"></div>
            </div>

            partiesDisplayed = partiesDisplayed + 1;

            if (!activeParty)
            {
                string functionCall = "ChangeIndexActiveParty(" + partyCounter + ")";
                <br /><button onclick="@functionCall" style="font-size:120%; margin: 5px;">Set @party.Name as active party</button>
            }

        }

    </div>
</div>
